<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
</head>
<body>
<h1>All Posts</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.title}"></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.date}"></td>
        <td th:text="${post.description}"></td>
    </tr>
</table>
</body>
</html>
